body {
  width: 100%;
  margin: 0;
}

/* Global Styles */

div.container {
  overflow: hidden;
}

/* Header Styles */

header {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80.8px;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#branding {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

span a {
  display: inline-block;
  padding-left: 15px;
  text-decoration: none;
  color: black;
}

nav#header_nav {
  padding-right: 30px;
  display: flex;
}

/* Main Styles */

div#main-content {
  display: flex;
  width: 100%;
  height: 1111px;
  padding-top: 116px;
  justify-content: center;
}

/* Splitting the middle content of the main column down the middle */

div#split_headers {
  display: inline-flex;
}

div#split_paragraphs {
  display: inline-flex;
}

.column {
  font-family: Georgia, serif;
  font-size: 17px;
  color: black;
  flex-direction: column;
  margin-right: 20px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  display: flex;
}

.column.small h3 {
  text-align: center;
}


/* Image Styles */

div#main-story-img {
  background: url("./images/main-story.png") no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  width: 630px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}

div#fall-img {
  background: url("./images/fall.png") no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
  height: 300px;
  display: inline-flex;
  align-items: center;
  text-align: center;
}

div#cameraman-img {
  background: url("./images/hipster-cameraman.png") no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
  height: 300px;
  display: inline-flex;
  align-items: center;
  text-align: center;
}

div#cat-img {
  background: url("./images/cat-ceo.png") no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
}

span.bite {
  display: inline-block;
  margin: 0;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 10px;
}

/* Footer Styles */

footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  height: 325px;
  background-color: #66CDAA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span#footer_branding {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 25px;
  border-right: 2px solid white;
}

div#footer_nav nav {
  display: inline-block;
}

div#footer_nav span {
  display: inline-block;
}
