body {
  width: 100%;
  margin: 0;
}

/* Global Styles */

div.container {
  overflow: hidden;
}

/* Header Styles */

header {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  width: 100%;
  height: 80.8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#branding {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

span a {
  display: inline-block;
  padding-left: 15px;
  text-decoration: none;
  color: black;
}

nav#header_nav {
  padding-right: 30px;
  display: flex;
}

/* Main Styles */

div#main-content {
  display: flex;
  width: 100%;
  margin: 35px auto;
  flex-direction: row;
}

.column {
  border: 2px solid black;
  width: 100%;
}

.column {
  font-family: Georgia, serif;
  font-size: 17px;
  color: black;
}

.column.large {
  width: 630px;
  flex-direction: column;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

div#main-story-img {
  background: url("./images/main-story.png") no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  width: 630px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}

div#fall-img {
  background: url("./images/fall.png") no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}

div#cameraman-img {
  background: url("./images/hipster-cameraman.png") no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}

div#cat-img {
  background: url("./images/cat-ceo.png") no-repeat;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}

div#cookie {
  background: url("./images/cookie.png") no-repeat;
  width: 240;
  height: 240;
}
